@import "mixins";

.box {
  background-color: white;
  padding: 8px;
  border-radius: 6px;
  @include shadowBottom();

  &:hover {
    .top-left-triangle {
      border-top-color: $secondaryColor;

      span {
        color: $mainColor;
      }
    }
  }

  .top-left-triangle {
    width: 0;
    height: 0;
    border-top: 60px solid $mainColor;
    border-bottom: 60px solid transparent;
    border-right: 60px solid transparent;
    position:absolute;
    top: 0;
    left:0;

    span {
      color: $secondaryColor;
      position: absolute;
      top: -50px;
      width: 20px;
      left: 5px;
      text-align: center;
      font-size: 20px;
      font-family: arial;
      display: block;
    }


  }
}
