@import "mixins";

.box {
  background-color: white;
  padding: 8px;
  border-radius: 6px;
  @include shadowBottom();

  .top-left-triangle {
    width: 0;
    height: 0;
    border-top: 50px solid $mainColor;
    border-bottom: 50px solid transparent;
    border-right: 50px solid transparent;
    position:absolute;
    top: 0;
    left:0;

    span {
      color: $secondaryColor;
      position: absolute;
      top: -45px;
      width: 20px;
      left: 5px;
      text-align: center;
      font-size: 20px;
      font-family: arial;
      display: block;
    }
  }

  &-number-display {

    &:hover {
      @include shadow-hover();
      cursor: pointer;
    }

    &:active {
      @include shadowBottom();
    }

    margin-right: 20px;
    height: 140px;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    .title {
      font-weight: bold;
      font-size: 18px;
      height: 30px;
      text-align: center;
    }

    .content {
      flex: 1;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .number-display {
        font-size: 26px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
