$darkGray: #394d5e;
$lightGray: #e2effa;

$mainColor: #0A89FF;
$secondaryColor: #0aff63;

$alertColor: #D0342C;

$mainShadowColor: #394d5e66;
$mainShadowHoverColor: #394d5e52;
$lightGrayWithAlpha: #394d5e80;

@mixin shadowBottomLarge {
  box-shadow: 0 3px 6px $mainColor;
}

@mixin shadowBottom {
  box-shadow: 0 3px 6px $mainShadowColor;
}

@mixin shadowLeft {
  box-shadow: 3px 0px 6px rgb(0 0 0 / 16%);
}

@mixin shadow-hover {
  box-shadow: 0 3px 6px $mainShadowHoverColor;
}



