<div class="menu-container" [ngClass]="{'active' : active}">
  <div class="menu-backdrop" (click)="onBackdropClicked()">
    <div class="menu box" (click)="onMenuClicked($event)">
      <div class="menu-item themed-content" *ngFor="let menuItem of menuItems" (click)="onMenuItemClicked(menuItem)">
      <span>
        {{menuItem.text}}
      </span>
      </div>
    </div>
  </div>
  <div class="floating-icon" (click)="onMenuButtonClicked()">
    <img src="../../assets/images/bluejay.svg" *ngIf="!active">
    <img src="../../assets/images/whitebluejay.svg" *ngIf="active">
  </div>
</div>

