@import "src/app/styles/mixins";

.floating-icon {
  width: 65px;
  height: 65px;
  font-size: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include shadowBottom();
  background-color: $secondaryColor;
  color: $mainColor;
  z-index: 50;
  position: absolute;
  right: 35px;
  top: 10px;

  &:hover {
    @include shadow-hover();
    cursor: pointer;
  }

  &:active {
    box-shadow: none;
  }

  img {
    width: 50px;
  }
}
