@import "src/app/styles/mixins";

.docs {
  height: calc(100% - 10px);
  display: flex;
  background-color: $lightGray;

  .sidebar {
    flex-basis: 250px;
    height: 100%;
  }

  .docs-page {
    flex: 1;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
  }
}
