<view>
  <div viewContent class="studio-selection-view">
    <div class="studio-items-container">
      <div class="studio-item box" *ngFor="let studioItem of displayItems" (click)="onStudioItemClicked(studioItem)">
        <div class="top-left-triangle">
          <span>
            <i class="{{studioItem.icon}}"></i>
          </span>
        </div>
        <div class="title" [ngStyle]="{'font-size' : (studioItem.fontSizeRem ? studioItem.fontSizeRem.toString() : '1.75') + 'rem'}">
          {{studioItem.name}}
        </div>
        <div class="description">
          {{studioItem.description}}
        </div>
      </div>
    </div>
  </div>
</view>
