<div class="sidebar">
  <ng-container *ngIf="componentData">
    <div class="group open" *ngFor="let group of componentData.groups" >
      <div class="group-header">
        <div class="name">
          {{group.name}}
        </div>
        <div class="caret">
          <i class="fa fa-caret-down"></i>
        </div>

      </div>
      <div class="group-items">
        <div class="item" *ngFor="let item of group.items" (click)="onItemClicked(item)">
          {{item.text}}
        </div>
      </div>
    </div>
  </ng-container>
</div>
