<div class="view">
  <div class="view-header themed-content">
    <span>JStudios</span>
    <div class="view-header-links">
      <a href="https://discord.gg/phkVRhZr" target="_blank">
        <i class="fa-brands fa-discord"></i>
      </a>
      <a href="https://assetstore.unity.com/publishers/68998" target="_blank">
        <i class="fa-brands fa-unity"></i>
      </a>
      <a href="https://twitter.com/JStudios_a" target="_blank">
        <i class="fa-brands fa-twitter"></i>
      </a>
    </div>
  </div>
  <div class="view-content">
    <ng-content select="[viewContent]"></ng-content>
  </div>
</div>
