/* You can add global styles to this file, and also import other style files */

@import "~prismjs/themes/prism-okaidia.min.css";
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import "src/app/styles/box";
//@import "~prismjs/themes/prism-tomorrow.min.css";
//@import "~prismjs/themes/prism.min.css";

body {
  font-family: "Oceanwide QLt";
  color: $darkGray;
}

@font-face {
  font-family: 'Oceanwide QLt';
  src: url('assets/fonts/California Type Foundry - Oceanwide-Semibold.otf') format('opentype');
}

.themed-content {
  width: 100%;
  margin: 0;
  border-radius: 8px;

  span {
    color: $darkGray;
    line-height: 1.1em;
  }

  span::first-letter {
    color: $mainColor;
    font-size: 1.15em;
  }

  &-hover {
    &:hover {
      span {
        color: $mainColor;
      }

      span::first-letter {
        color: $darkGray;
      }
      border-left: 8px solid $mainColor;
      border-right: 8px solid $mainColor;
    }
  }
}
