/* You can add global styles to this file, and also import other style files */

@import "~prismjs/themes/prism-okaidia.min.css";
//@import "~prismjs/themes/prism-tomorrow.min.css";
//@import "~prismjs/themes/prism.min.css";

body {
  font-family: "Oceanwide QLt";
}

@font-face {
  font-family: 'Oceanwide QLt';
  src: url('assets/fonts/California Type Foundry - Oceanwide-Semibold.otf') format('opentype');
}

