@import "src/app/styles/mixins";

.docs-selection-view {
  display: flex;
  flex-direction: column;

  .docs-container {
    display: flex;
    flex-direction: row;
    flex: 1;

    .docs {
      width: 250px;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 30px;
      position: relative;

      .title {
        flex-basis: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $mainColor;
      }

      .content {
        flex: 1;
      }

      &:hover {
        cursor: pointer;
        @include shadow-hover()
      }
    }
  }
}
